html{
    height: 100vh;
    width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0ece2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-top: 1em;
    width: 10em;
}

.menu{

    background-color: black;
    color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
}

button{
    border-radius: 1em;
    height: 3em;
    width: auto;
    border-color: #b65cff;
    background-color: #b65cff;
    color: white;
}
.tools{
    top:0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.down{
    position: absolute;
    display: flex;
    background-color: #333333;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    bottom: 0 !important;
}
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1em 2em;
    width: 100%;
}

.input-group input[type="text"] {
    width: 80%;
    padding: 10px;
}

.input-group button {
    padding: 10px 20px;
    background-color: #b65cff;
    color: white;
    border: none;
    cursor: pointer;
}

.indicator {
    font-style: italic;
}

#project-info {
    text-align: center;
}

#project-info img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

#down {
    width: 100%;
    text-align: center;
    background-color: #f0ece2; /* Couleur de fond terre cuite */
    padding: 20px;
    color: #333; /* Couleur de texte foncé */
}

.indicator {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    color: #b65cff;
    background-color: #b65cff;
}