/* Page Accueil " */
.accueil {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;

}

.accueil .element-accueil-site-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid transparent;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.accueil .element-accueil-site {
  position: relative;
  width: 100%;
  height: auto;
  top: -0.05em;
}

.accueil .d-couvrez-la {
  width: 100%; /* Change to 100% for responsive width */
  max-width: 755px; /* Maximum width to maintain design consistency */
  margin: 13px auto; /* Center the element horizontally */
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  font-style: italic;
  color: #8158bf;
  font-size: 18px;
  text-align: center;
  line-height: 13px;
  font-weight: 600;
  letter-spacing: 0;
  position: relative; /* Change to relative for proper positioning in flow */
}

.accueil .line {
  width: 100%; /* Largeur responsive */
  max-width: 140px; /* Largeur maximale pour la cohérence du design */
  height: 1px;
  margin: -7px auto; /* Centre l'élément horizontalement */
  position: relative; /* Positionnement relatif pour l'alignement correct */
  background-color: #8158bf; /* Couleur pour la ligne */
  display: block;
}

.accueil .image {
  width: 70%; /* Largeur responsive */
  max-width: 1403px; /* Largeur maximale pour la cohérence du design */
  height: auto; /* Hauteur auto pour la responsivité */
  margin: 70px auto; /* Centre l'élément horizontalement avec un espacement vertical */
  background-color: #efeded;
  overflow: hidden;
  position: relative; /* Positionnement relatif pour l'alignement correct */
  border-radius: 20px;
  align-items: center;
  padding: 20px;
  display: flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre sur les quatre côtés */
}

.accueil .verifile-section {
  flex: 0 0 auto;
  margin-right: 20px;
  margin-left: 40px;
}

.accueil .verifile {
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  font-size: 46px;
  font-weight: 700;
  color: #8158bf;
  margin: 0;
}

.accueil .line2 {
  width: 2px; /* Width of the vertical line */
  height: 150px; /* Full height of the container */
  background-color: #8158bf;
  margin: 0 50px;
}

.accueil .description-section {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.accueil .description {
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin: 0;
}

.accueil .quote-left, .quote-right {
  font-family: "Montaga-Regular", Helvetica, Arial, sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #8158bf;
  position: absolute;
}

.accueil .quote-left {
  top: -45px; /* Adjust position as needed */
  left: 0px; /* Adjust position as needed */
}

.accueil .quote-right {
  bottom: -100px; /* Adjust position as needed */
  right: 25px; /* Adjust position as needed */
}

.accueil .description .highlight {
  font-weight: 600;
  color: #8158bf;
}

.accueil .span {
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  font-weight: 500;
  color: #000000;
}

.accueil .div {
  position: relative; /* Change from absolute to relative for better alignment */
  width: 100%; /* Responsive width */
  max-width: 1058px; /* Maximum width for design consistency */
  height: auto; /* Auto height for responsiveness */
  margin: 20px auto; /* Center the element horizontally with vertical spacing */
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  font-weight: 400;
  color: #8158bf;
  font-size: 96px;
  letter-spacing: 0;
  line-height: 144px;
  text-align: center; /* Center text within the element */
}

.accueil .line3 {
  width: 100%; /* Largeur responsive */
  max-width: 100px; /* Largeur maximale pour la cohérence du design */
  height: 2px;
  margin: 0 auto; /* Centre l'élément horizontalement */
  position: relative; /* Positionnement relatif pour l'alignement correct */
  background-color: #000; /* Couleur pour la ligne */
  display: block;
}

.accueil .analyse-d-URL {
  width: 100%; /* Largeur responsive */
  max-width: 1326px; /* Largeur maximale pour la cohérence du design */
  margin: 50px auto 20px; /* Centre l'élément horizontalement et ajoute un espacement vertical */
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: -1.06px;
  line-height: normal;
  position: relative; /* Positionnement relatif pour éviter les conflits */
}

.accueil .p {
  width: 100%; /* Largeur responsive */
  max-width: 950px; /* Largeur maximale pour la cohérence du design */
  margin: 20px auto 100px; /* Centre l'élément horizontalement et ajoute un espacement vertical */
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  color: #5a5858;
  font-size: 22px;
  text-align: center;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 0;
  position: relative; /* Positionnement relatif pour éviter les conflits */
  height: auto; /* Ajuste la hauteur automatiquement pour la responsivité */
}

.accueil .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20;
  height: 100%;
  max-height: 1000px;
  box-sizing: border-box;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
}

.accueil .image-2 {
  width:15%;
  background-color: #8158bf;
  border-radius: 0px 20px 20px 0; /* Arrondi les deux coins supérieurs */
  box-shadow: 4px 4px 40px #515050bf;
  height: 300px;
  box-sizing: border-box;
  color: #fff; /* Assuming text color should be white */
  position: relative;
}

.accueil .proteger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.accueil .proteger {
  width: 100%;
  max-width: 275px;
  height: auto;
  object-fit: cover;
}

.accueil .image-3 {
  width: 70%;
  background-color: #efeded;
  border-radius: 20px 0 0px 20px; /* Arrondi les deux coins inférieurs */
  box-shadow: 4px 4px 40px #515050bf;
  padding: 20px;
  height: 325px;
  box-sizing: border-box;
  color: #fff; /* Assuming text color should be white */
  position: relative;
}

.element-accueil-site .text-wrapper-5 {
  width: 100%;
  max-width: 810px;
  height: 40px;
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  font-weight: 800;
  color: #8158bf;
  font-size: 24px;
  line-height: 54px;
  position: relative; /* Change to relative for better alignment */
  margin: 1%;
  left: 2.5%
}

.element-accueil-site .line-3 {
  width: 100%;
  max-width: 328px;
  height: 2px;
  background-color: #8158bf;
  position: relative;
  left: 16%;
}

.element-accueil-site .d-couvrez-la-6 {
  width: 100%;
  max-width: 950px;
  height: 84px;
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 42px;
  position: relative; /* Change to relative for better alignment */
  font-weight: 500;
  left: 3.8%;
  margin-bottom: 7%;
}

.element-accueil-site .group-3 {
  width: 100%;
  max-width: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -18%;
  left: 3.7%;
}

.element-accueil-site .overlap {
  width: 100%;
  max-width: 69px;
  height: 69px;
  background-color: #efa8f5;
  border-radius: 34.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -80%;
}

.element-accueil-site .d-couvrez-la-5 {
  width: 100%;
  max-width: 262px;
  height: 84px;
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  color: #000;
  font-size: 22px;
  text-align: center;
  line-height: 42px;
  position: relative;
  font-weight: 500;
  top: 30%;
}

.element-accueil-site .group-2 {
  width: 100%;
  max-width: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -53%;
  left: 33%;
}

.element-accueil-site .d-couvrez-la-4 {
  width: 100%;
  max-width: 262px;
  height: 42px;
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  color: #000;
  font-size: 22px;
  text-align: center;
  line-height: 42px;
  position: relative;
  font-weight: 500;
  left: 10%;
}

.element-accueil-site .div {
  width: 100%;
  max-width: 69px;
  height: 69px;
  background-color: #efa8f5;
  border-radius: 34.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 15%;
  top: -90%;
}

.element-accueil-site .group {
  width: 100%;
  max-width: 318px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -85%;
  left: 68%;
}

.element-accueil-site .overlap-group-2 {
  width: 100%;
  max-width: 314px;
  height: 69px;
  position: relative;
}

.element-accueil-site .div-2 {
  width: 100%;
  max-width: 69px;
  height: 69px;
  background-color: #efa8f5;
  border-radius: 34.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5%;
}

.element-accueil-site .d-couvrez-la-2 {
  width: 100%;
  max-width: 63px;
  height: 42px;
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  font-weight: 600;
  color: #5a5858;
  font-size: 28px;
  text-align: center;
  line-height: 42px;
  position: relative;
}

.element-accueil-site .d-couvrez-la-3 {
  width: 100%;
  max-width: 262px;
  height: 42px;
  font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
  color: #000;
  font-size: 22px;
  text-align: center;
  line-height: 42px;
  position: relative;
  font-weight: 500;
  left : 16%;
  top: -80%;
}