
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}



.content > p {
    font-size: 1em;
    font-weight: 600;
}

h1 {
    text-align: center;
    color: #333;
}

.alert {
    color: #8158BF; /* Couleur du texte VeriFile */
    font-weight: bold;
    font-size: 24px;
}

.form {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) !important;
    border-radius: 10px;
}

.form label {
    margin: 10px 0 5px;
    color: #333;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.register #password,
.register #username,
.register #email,
.register #entreprise,
.register #confirm_password {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register #email{
    margin-left: 1em;
}

.register #password,
.register #entreprise,
.register #confirm_password{
    width: auto;
}



.connect #username,
.connect #password{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 90%; 
}

.connect input[type="checkbox"] {
    margin-right: 10px;
}

.connect input[type="submit"],
.register input[type="submit"]{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #8158BF;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.connect input[type="submit"]:hover,
.register input[type="submit"]:hover{

    background-color: white;
    color: #8158BF;
    border: 1px solid #8158BF;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
}

.connect input[type="submit"]:hover {
    background-color: #8158BF;
}


.connexion, .inscription {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-connexion{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.images{
    background-image: url("/static/img/connexion-gif.gif");
    background-repeat: no-repeat;
    background-size:cover;
    width: 60%;
    height: 100%;
}

h1 {
    font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #8158bf;
    margin: 0;
}

p {
    font-size: 14px;
    color: #666;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-control {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register #username{
    margin-right: 1em;
}

.form-check {
    display: flex;
    align-items: center;
    text-align: left;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    font-size: 14px;
    color: #333;
}

.btn {
    display: inline-block;
    background-color: #af52de;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-primary {
    background-color: #af52de;
}

.text-danger {
    color: red;
    font-size: 12px;
}

a {
    color: #af52de;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.account-info, .change-password-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.btn {
    display: inline-block;
    background-color: #af52de;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-primary {
    background-color: #af52de;
}

.btn-secondary {
    background-color: #ccc;
}

.text-danger {
    color: red;
    font-size: 12px;
}

a {
    color: #af52de;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.account-info > p {
    font-size: 1em;
  }
