main {
    padding: 20px;
    text-align: center;
    font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
}

.contact-section .d-couvrez-la {
    width: 100%;
    max-width: 755px;
    margin: 20px auto;
    font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
    font-style: italic;
    color: #8158bf;
    font-size: 18px;
    text-align: center;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 0;
    position: relative;
    margin-top: -7px;
}

.contact-section .line {
  width: 100%; /* Largeur responsive */
  max-width: 140px; /* Largeur maximale pour la cohérence du design */
  height: 1px;
  margin: 0 auto; /* Centre l'élément horizontalement */
  position: relative; /* Positionnement relatif pour l'alignement correct */
  background-color: #8158bf; /* Couleur pour la ligne */
  display: block;
  margin-top: -14px;
}

.contact-section h1 {
    font-size: 28px;
    color: #333;
    margin-top: 50px; 
    position: relative;
    display: inline-block;
    font-weight: 500;
}

.texte-rose{
    color: #F0ACDB;
  }

.line-rose {
  width: 100%; /* Largeur responsive */
  max-width: 140px; /* Largeur maximale pour la cohérence du design */
  height: 1px;
  margin: -20px auto; /* Centre l'élément horizontalement */
  position: relative; /* Positionnement relatif pour l'alignement correct */
  background-color: black; /* Couleur pour la ligne */
  display: block;
  left: 60px;
}

.highlight-image {
    margin-top: -25px; 
    margin-left: 10%;
}

.highlight-image img {
    width: 20%;
    max-width: 180px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    padding: 0 20px;
}

.left-wrapper {
    flex: 0 0 30%;
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    padding-top: 0px;
}

.left-side {
    text-align: center;
    padding-right: 60px;
}

.left-side img {
    max-width: 80px; 
    height: auto;
    margin-bottom: 10px; 
}

.left-side h2 {
    font-size: 24px;
    color: #8158bf;
    margin-top: 10px;
    margin-bottom: 30px; /* Increased space below VeriFile */
}

.left-side p {
    font-size: 16px; /* Increased font size */
    color: #666;
    margin-top: 30px; /* Increased space above the paragraph */
    margin-bottom: 30px; /* Added space below the paragraph */
}

.left-side p strong {
    font-size: 18px; /* Increased font size for strong text */
    display: block;
    margin-top: 30px; /* Increased space above strong text */
    margin-bottom: 30px; /* Added space below strong text */
}

.left-side .gif-image {
    margin-top: 15px;
    max-width: 40%;
    height: auto;
}

.right-wrapper {
    flex: 0 0 40%;
    display: flex;
}

.right-side {
    width: 100%; /* Assure que le formulaire utilise toute la largeur disponible */
    text-align: left;
    padding-left: 20px; 
    padding-right: 20px; 
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-side h2 {
    font-size: 20px;
    color: #8158bf;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
}

.right-side form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Assure que tout le formulaire est aligné à gauche */
}

.name-fields {
    display: flex;
    gap: 10px;
    margin-top: 0px;
    width: 100%; /* Assure que les champs de nom et prénom prennent toute la largeur */
}

.email-fields {
    display: flex;
    gap: 10px;
    width: 100%; /* Assure que les champs de nom et prénom prennent toute la largeur */
    margin-bottom: 20px;
}
.subject-fields {
    display: flex;
    gap: 10px;
    width: 100%; /* Assure que les champs de nom et prénom prennent toute la largeur */
    margin-bottom: 20px;
}

.subject-fields > select{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.message-fields {
    display: flex;
    gap: 10px;
    width: 100%; /* Assure que les champs de nom et prénom prennent toute la largeur */
}

.name-fields input {
    flex: 1;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #8158bf;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start; /* Assure que le bouton est aligné à gauche */
}

button[type="submit"]:hover {
    background-color: #673ab7;
}
