

  .titre1 {
    width: 100%; /* Change to 100% for responsive width */
    max-width: 12em; /* Maximum width to maintain design consistency */
    margin: auto;
    font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
    color: #000000;
    font-size: 1.7em;
    text-align: center;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0;
    position: relative; /* Change to relative for proper positioning in flow */
    top: 4.5em;
    left: -15em;
  }

  .texte-rose{
    color: #F0ACDB;
  }

  .texte-violet{
    color: #8158bf;
  }

  .line-titre1 {
    width: 100%; /* Largeur responsive */
    max-width: 110px; /* Largeur maximale pour la cohérence du design */
    height: 1px;
    margin: auto;
    margin-top: -7px; /* Centre l'élément horizontalement */
    position: relative; /* Positionnement relatif pour l'alignement correct */
    background-color: #F0ACDB; /* Couleur pour la ligne */
    display: block;
    top: 8.7em;
    left: -26.1em;
  }

  .titre2 {
    width: 100%; /* Change to 100% for responsive width */
    max-width: 10em; /* Maximum width to maintain design consistency */
    margin: auto; /* Center the element horizontally */
    font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
    color: #000000;
    font-size: 1.6em;
    text-align: center;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0;
    position: relative; /* Change to relative for proper positioning in flow */
    top: 6em;
    left: -10em;
  }

  .line-titre2 {
    width: 100%; /* Largeur responsive */
    max-width: 90px; /* Largeur maximale pour la cohérence du design */
    height: 1px;
    margin: auto;
    margin-top: -7px; /* Centre l'élément horizontalement */
    position: relative; /* Positionnement relatif pour l'alignement correct */
    background-color: #F0ACDB; /* Couleur pour la ligne */
    display: block;
    top: 10.8em;
    left: -14.1em;
  }

  #team {
    padding: 2em;
    text-align: center;
}

  .equipe {
    display: inline-block;
    margin: 0.5em;
    align-items: center;
    width: 100%;
    max-width: 18em;
    text-align: center;
    position: relative;
    top: 11em;
    }   

.img {
    border-radius: 100%;
    width: 100%;
    max-width: 13em;
    height: 100%;
    height: 14em;
    position: relative;
    margin: 10px auto;
    margin-bottom: 2em;
}

.titre-CEO {
    width: 100%; /* Change to 100% for responsive width */
    max-width: 10em; /* Maximum width to maintain design consistency */
    margin: auto; /* Center the element horizontally */
    font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
    color: #8158bf;
    font-size: 1.2em;
    text-align: center;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0;
    position: relative; /* Change to relative for proper positioning in flow */
    top: -0.5em;
    margin-bottom: 1em;
  }

  .prenom {
    width: 100%; /* Change to 100% for responsive width */
    max-width: 10em; /* Maximum width to maintain design consistency */
    margin: auto; /* Center the element horizontally */
    font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
    color: black;
    font-size: 1.2em;
    text-align: center;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0;
    position: relative; /* Change to relative for proper positioning in flow */
    top: -0.5em;
    margin-bottom: 2em;
  }

  .paragraphe {
    width: 100%; /* Change to 100% for responsive width */
    max-width: 14em; /* Maximum width to maintain design consistency */
    margin: auto; /* Center the element horizontally */
    font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
    color: black;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.34px;
    position: relative; /* Change to relative for proper positioning in flow */
    top: -0.5em;
  }

  .icones {
    display:inline-block;
    width: 100%;
    max-width: 3em;
    align-items: center;
    text-align: center;
    position: relative;
    top: 1em;
    }  

.icones .icone1 {
    width: 100%;
    max-width: 1.5em;
    position: relative;
    margin: auto;
    left: -1.5em;
}

.icones .icone2 {
    width: 100%;
    max-width: 2.1em;
    position: relative;
    margin: auto;
    top: -2em;
    right: -1.5em;
}

    #motivation {
        padding: 2em;
        text-align: center;
        left: 3em;
        right: 3em;
    }

    .motivation {
        padding: 2em;
        margin: 1em;
        width: 100%;
        max-width: 33em;
        text-align: center;
        display: inline-block;
        align-items: center;
        position: relative;
        top: 11em;
    }

    .uqac {
        width: 100%;
        max-width: 30em;
        height: 100%;
        position: relative;
        margin: 10px auto;
        align-items: center;
        left: 2em;
    }

    .titre3 {
        width: 100%; /* Change to 100% for responsive width */
        max-width: 33em; /* Maximum width to maintain design consistency */
        margin: auto; /* Center the element horizontally */
        font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
        color: #000000;
        font-size: 1.8em;
        text-align: right;
        line-height: 13px;
        font-weight: 500;
        letter-spacing: 0;
        position: relative; /* Change to relative for proper positioning in flow */
        top: -5em;
        right: 1.7em;
      }

      .line-titre3 {
        width: 100%; /* Largeur responsive */
        max-width: 120px; /* Largeur maximale pour la cohérence du design */
        height: 1px;
        margin: auto;
        margin-top: -7px; /* Centre l'élément horizontalement */
        position: relative; /* Positionnement relatif pour l'alignement correct */
        background-color: #F0ACDB; /* Couleur pour la ligne */
        display: block;
        top: -7.7em;
        left: 7em;
      }

    .paragraphe1 {
        width: 100%; /* Change to 100% for responsive width */
        max-width: 33em; /* Maximum width to maintain design consistency */
        margin: auto; /* Center the element horizontally */
        font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
        color: black;
        font-size: 1em;
        text-align: justify;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0.34px;
        position: relative; /* Change to relative for proper positioning in flow */
        padding-bottom: 3em;
        top: -5em;
        right: 3em;
      }

      .paragraphe2 {
        width: 100%; /* Change to 100% for responsive width */
        max-width: 33em; /* Maximum width to maintain design consistency */
        margin: auto; /* Center the element horizontally */
        font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
        color: black;
        font-size: 1em;
        text-align: justify;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0.34px;
        position: relative; /* Change to relative for proper positioning in flow */
        top: -5em;
        right: 3em;
      }

      #creation {
        padding: 2em;
        text-align: center;
        left: 3em;
        right: 3em;
    }

    .creation {
        padding: 2em;
        margin: 1em;
        width: 100%;
        max-width: 36em;
        text-align: center;
        display: inline-block;
        align-items: center;
        position: relative;
        left: 3.5em;
    }

      .titre4 {
        width: 100%; /* Change to 100% for responsive width */
        max-width: 33em; /* Maximum width to maintain design consistency */
        margin: auto; /* Center the element horizontally */
        font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
        color: #000000;
        font-size: 1.8em;
        text-align: left;
        line-height: 13px;
        font-weight: 500;
        letter-spacing: 0;
        position: relative; /* Change to relative for proper positioning in flow */
        top: 4em;
        left: 2em;
      }

      .line-titre4 {
        width: 100%; /* Largeur responsive */
        max-width: 70px; /* Largeur maximale pour la cohérence du design */
        height: 1px;
        margin: auto;
        margin-top: -7px; /* Centre l'élément horizontalement */
        position: relative; /* Positionnement relatif pour l'alignement correct */
        background-color: #F0ACDB; /* Couleur pour la ligne */
        display: block;
        top: 8.6em;
        left: -6.5em;
      }

      .paragraphe3 {
        width: 100%; /* Change to 100% for responsive width */
        max-width: 36em; /* Maximum width to maintain design consistency */
        margin: auto; /* Center the element horizontally */
        font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
        color: black;
        font-size: 1em;
        text-align: justify;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0.34px;
        position: relative; /* Change to relative for proper positioning in flow */
        padding-bottom: 3em;
        top: 10em;
        left: 3.6em;
      }

      .paragraphe4 {
        width: 100%; /* Change to 100% for responsive width */
        max-width: 36em; /* Maximum width to maintain design consistency */
        margin: auto; /* Center the element horizontally */
        font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
        color: black;
        font-size: 1em;
        text-align: justify;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0.34px;
        position: relative; /* Change to relative for proper positioning in flow */
        top: 10em;
        left: 3.6em;
      }


      .logo-VeriFile {
        width: 100%;
        max-width: 15em;
        height: 100%;
        position: relative;
        margin: 10px auto;
        top: 7.8em;
        left: -3.5em;
        align-items: center;
    }

    .titre5 {
        width: 100%; /* Change to 100% for responsive width */
        max-width: 33em; /* Maximum width to maintain design consistency */
        margin: auto; /* Center the element horizontally */
        font-family: "Poppins-SemiBold", Poppins, Arial, sans-serif;
        color: #8158bf; 
        font-size: 3em;
        text-align: left;
        line-height: 13px;
        font-weight: 600;
        letter-spacing: 0;
        position: relative; /* Change to relative for proper positioning in flow */
        top: 3em;
        left: 3em;
      }

      /* FIN CSS Milieu */

footer {
    text-align: center;
    margin-top: auto;
    padding: 10px 0;
    position: relative;
    top: 11em;
}