<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Compte VeriFile</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/connexion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}" class="logo-link"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>
            <a href="{{ url_for('index') }}" class="logo-link"><span>VeriFile</span></a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
                <li><a href="{{ url_for('entreprise') }}">Entreprise</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('avis') }}">Avis</a></li>
            </ul>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('account') }}" class="account-btn">{{ current_user.username }}</a>  <!-- Afficher le nom de l'utilisateur connecté -->
            {% else %}
            <a href="{{ url_for('connexion') }}" class="account-btn">Se Connecter</a>  <!-- Texte à afficher si l'utilisateur n'est pas connecté -->
            {% endif %}
        </nav>
    </header>
    
    <div class="content">
        {% if current_user.is_authenticated %}
        <h2>Bienvenue, {{ current_user.username }} !</h2>
        <div class="account-info">
            <p class="sous-titre"><i class="fa fa-envelope"></i> Email :</p>
            <p class="info">{{ current_user.email }}</p>
            <p class="sous-titre"><i class="fa fa-building"></i> Entreprise : </p>
            <p class="info">{{ current_user.entreprise }}</p>
            <a href="{{ url_for('logout') }}" class="btn btn-secondary">Se Déconnecter</a>
        </div>
        {% else %}
            <a href="{{ url_for('connexion') }}" class="btn btn-primary account-btn">Se Connecter</a>
        {% endif %}
        <h2>Changer le Mot de passe</h2>
        <form method="POST" action="{{ url_for('change_password') }}" class="change-password-form">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <div class="form-group">
                {{ form.old_password.label }}
                {{ form.old_password(class="form-control", placeholder="Ancien mot de passe") }}
            </div>
            <div class="form-group">
                {{ form.new_password.label }}
                {{ form.new_password(class="form-control", placeholder="Nouveau mot de passe") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control", placeholder="Confirmer le mot de passe") }}   
            </div>
            <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
        </form>
    </div>
  </div>
    
    <!-- Ajout du pied de page -->
    <footer>
        <div class="footer-links-index"> 
            <a href="{{ url_for('apropos') }}">A propos de VeriFile</a> | 
            <a href="{{ url_for('cookies') }}">Politique des cookies</a>
        </div>
        <div class="footer-copyright">
            <p>Copyright © 2024 VeriFile. Tous droits réservés.</p>
        </div>
    </footer>
    
    <div class="chatbot-icon" onclick="toggleChatbot()">
        💬
    </div>
    <div class="chatbot-container" id="chatbotContainer">
        <div class="chatbot-header">
            <h2>VeriFile</h2>
            <button class="close-btn" onclick="toggleChatbot()">×</button>
        </div>
        <div class="chatbot-messages" id="chatbotMessages">
            <!-- Messages will appear here -->
        </div>
        <div class="chatbot-input">
            <input type="text" id="userInput" placeholder="Tapez votre message...">
            <button onclick="sendMessage()">Envoyer</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
</body>
</html>
