<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À Propos - VeriFile</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/apropos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}" class="logo-link"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>
            <a href="{{ url_for('index') }}" class="logo-link"><span>VeriFile</span></a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
                <li><a href="{{ url_for('apropos') }}">À Propos</a></li>
                <li><a href="{{ url_for('entreprise') }}">Entreprise</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('account') }}" class="account-btn">{{ current_user.username }}</a>  <!-- Afficher le nom de l'utilisateur connecté -->
            {% else %}
            <a href="{{ url_for('connexion') }}" class="account-btn">Se Connecter</a>  <!-- Texte à afficher si l'utilisateur n'est pas connecté -->
            {% endif %}
        </nav>
    </header>
    
    <div class="content">
        <h2 class="extention_chrome">Actualité de Verifile</h2>
        <div class="extention_chrome">
            
            <h2><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Footer Banner">VeriFile est disponible sur Chrome !</h2>
            <p>Nous sommes ravis d'annoncer que notre extension VeriFile est maintenant disponible sur Google Chrome. Cette extension vous permet de scanner facilement les URLs pour détecter les fraudes et assurer une navigation sécurisée.</p>
            
            <h3>Comment installer l'extension ?</h3>
            <ul>
                <li><strong>Télécharger l'extension :</strong> Cliquez sur le bouton ci-dessous pour télécharger le fichier de l'extension Chrome et decompressez le.</li>
                <li><strong>Ouvrir les Extensions :</strong> Ouvrez Le menu des extentions Google Chrome en cliquant sur le <img src="{{ url_for('static', filename='extention_chrome/puzzle.png') }}" alt="Footer Banner">en haut a droite .</li>
                <li><strong>Charger l'extension :</strong> Faites glisser et déposez le fichier téléchargé (extension_chrome.crx) dans la page des extensions.</li>
            </ul>
            <a href="{{ url_for('static', filename='extention_chrome.zip') }}" download="{{ url_for('static', filename='extention_chrome.zip') }}">Télécharger l'Extension Chrome</a>
            
            <p>Merci d'utiliser VeriFile pour sécuriser votre navigation !</p>
        </div>
    </div>
    
    <footer>
        <div class="footer-links-index"> 
            <a href="{{ url_for('apropos') }}">A propos de VeriFile</a> | 
            <a href="{{ url_for('cookies') }}">Politique des cookies</a>
        </div>
        <div class="footer-copyright">
            <p>Copyright © 2024 VeriFile. Tous droits réservés.</p>
        </div>
    </footer>

    <div class="chatbot-icon" onclick="toggleChatbot()">
        💬
    </div>
    <div class="chatbot-container" id="chatbotContainer">
        <div class="chatbot-header">
            <h2>VeriFile</h2>
            <button class="close-btn" onclick="toggleChatbot()">×</button>
        </div>
        <div class="chatbot-messages" id="chatbotMessages">
            <!-- Messages will appear here -->
        </div>
        <div class="chatbot-input">
            <input type="text" id="userInput" placeholder="Tapez votre message...">
            <button onclick="sendMessage()">Envoyer</button>
        </div>
    </div>
  
      <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
</body>
</html>
