<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À Propos - VeriFile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='apropos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}" class="logo-link"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo"></a>
            <a href="{{ url_for('index') }}" class="logo-link"><span>VeriFile</span></a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
                <li><a href="{{ url_for('apropos') }}">À Propos</a></li>
                <li><a href="{{ url_for('entreprise') }}">Entreprise</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
            <a href="{{ url_for('connexion') }}" class="account-btn">Mon Compte</a>
        </nav>
    </header>
    
    <div class="content">
        <div class="soon">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Footer Banner">
            <p class="soon">Coming soon !</p>
        </div>
    </div>

    <!-- Ajout de l'image du bandeau juste au-dessus du footer -->
    <div class="footer-banner">
        <img src="{{ url_for('static', filename='footer.png') }}" alt="Footer Banner">
    </div>
    
    <footer>
        <div class="footer-links">
            <a href="#">Conditions d'utilisation</a> | 
            <a href="#">Conditions générales</a> | 
            <a href="{{ url_for('cookies') }}">Politique des cookies</a>
        </div>
        <div class="footer-copyright">
            <p>Copyright © 2024 VeriFile. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
