<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - VeriFile</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}" class="logo-link"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>
            <a href="{{ url_for('index') }}" class="logo-link"><span>VeriFile</span></a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
                <li><a href="{{ url_for('entreprise') }}">Entreprise</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('avis') }}">Avis</a></li>
            </ul>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('account') }}" class="account-btn">{{ current_user.username }}</a>  <!-- Afficher le nom de l'utilisateur connecté -->
            {% else %}
            <a href="{{ url_for('connexion') }}" class="account-btn">Se Connecter</a>  <!-- Texte à afficher si l'utilisateur n'est pas connecté -->
            {% endif %}
        </nav>
    </header>
    
    <main>
        <section class="contact-section">
            <p class="d-couvrez-la">Trust your files, with VeriFile</p>
            <img class="line" src="" />
            <h1>Démarrons une <span class="texte-rose">discussion</span></h1>
            <img class="line-rose" style="color: #F0ACDB;" src="" />
            
            <div class="contact-container">
                <div class="right-wrapper">
                    <div class="right-side">
                        <h2>Qui êtes-vous ?</h2>
                        <form id="ContactForm" enctype="multipart/form-data">
                            <div class="name-fields">
                                <input type="text" id="prenom" name="prenom" placeholder="Prénom">
                                <input type="text" id="nom" name="nom" placeholder="Nom">
                            </div>
                            <div class="email-fields">
                                <input type="email" id="email" name="email" placeholder="Email">
                            </div>
                            <h2>Quel est le sujet de votre message ?</h2>
                            <div class="subject-fields">
                                <select id="sujet" name="sujet" required>
                                    <option value="" disabled selected>Sélectionner un sujet</option>
                                    <option value="url">URL frauduleux</option>
                                    <option value="support">Erreur dans l'application</option>
                                    <option value="feedback">Recommandation</option>
                                    <option value="autre">Autre</option>
                                </select><br>                            
                            </div>
                            <h2>Comment vous aider ?</h2>
                            <div class="message-fields">
                                <textarea name="message" id="message" placeholder="Votre message..."></textarea>
                            </div>
                            <div class="file-field">
                                <label for="fichier">Choisir un fichier à télécharger :</label>
                                <input type="file" id="fichier" name="fichier">
                            </div>
                            <button type="submit">Envoyer</button>
                            <h2 id="reponse-server"></h2>
                        </form>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-links-index"> 
            <a href="#">Conditions d'utilisation</a> | 
            <a href="#">Conditions générales</a> |
            <a href="{{ url_for('cookies') }}">Politique des cookies</a>
        </div>
        <div class="footer-copyright-index">
            <p>Copyright © 2024 VeriFile. Tous droits réservés.</p>
        </div>
    </footer>

    <div class="chatbot-icon" onclick="toggleChatbot()">
        💬
    </div>
    <div class="chatbot-container" id="chatbotContainer">
        <div class="chatbot-header">
            <h2>VeriFile</h2>
            <button class="close-btn" onclick="toggleChatbot()">×</button>
        </div>
        <div class="chatbot-messages" id="chatbotMessages">
            <!-- Messages will appear here -->
        </div>
        <div class="chatbot-input">
            <input type="text" id="userInput" placeholder="Tapez votre message...">
            <button onclick="sendMessage()">Envoyer</button>
        </div>
      </div>

    <script src="{{ url_for('static', filename='contact.js') }}"></script>
    <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
