<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VeriFile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}" class="logo-link"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo"></a>
            <a href="{{ url_for('index') }}" class="logo-link"><span>VeriFile</span></a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
                <li><a href="{{ url_for('apropos') }}">À Propos</a></li>
                <li><a href="{{ url_for('entreprise') }}">Entreprise</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
            <button class="account-btn">Mon Compte</button>
        </nav>
    </header>
    
    <div class="tagline">
        <em>Découvrez la puissance de 100 anti-virus combiné en 1 clic</em>
    </div>
    <div class="container">
        <img src="./../img/cookies.png">
  </div>
    
    <!-- Ajout de l'image du bandeau juste au-dessus du footer -->
    <div class="footer-banner">
        <img src="{{ url_for('static', filename='footer.png') }}" alt="Footer Banner">
    </div>
    
    <!-- Ajout du pied de page -->
    <footer>
        <div class="footer-links">
            <a href="#">Conditions d'utilisation</a> | 
            <a href="#">Conditions générales</a> | 
            <a href="#">Politique des cookies</a>
        </div>
        <div class="footer-copyright">
            <p>Copyright © 2024 VeriFile. Tous droits réservés.</p>
        </div>
    </footer>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
</body>
</html>
