<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entreprise - VeriFile</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/entreprise.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}" class="logo-link"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>
            <a href="{{ url_for('index') }}" class="logo-link"><span>VeriFile</span></a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
                <li><a href="{{ url_for('apropos') }}">À Propos</a></li>
                <li><a href="{{ url_for('entreprise') }}">Entreprise</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('account') }}" class="account-btn">{{ current_user.username }}</a>  <!-- Afficher le nom de l'utilisateur connecté -->
            {% else %}
            <a href="{{ url_for('connexion') }}" class="account-btn">Se Connecter</a>  <!-- Texte à afficher si l'utilisateur n'est pas connecté -->
            {% endif %}
        </nav>
    </header>
    
    <div class="content"> 
        <section id="project">
            <h2 id="title-entreprise">Qui Sommes-Nous ?</h2>
            <section class="text-about-us">
                <img src="{{ url_for('static', filename='img/team.gif') }}" alt="">
                <div class="about-us">
                    <p>Nous sommes une équipe d'étudiants en informatique passionnés par la cybersécurité et dédiés à développer des solutions innovantes pour assurer la sécurité en ligne. Notre entreprise, Verifile, est née dans le cadre d'un projet de validation en cybersécurité proposé par l'Université du Québec à Chicoutimi (UQAC).</p>
                    <p>Notre mission est de fournir des outils avancés de détection et de protection contre les menaces en ligne, permettant aux utilisateurs de naviguer en toute sécurité sur Internet et de protéger leurs données personnelles.</p>
                </div>
            </section>
            <section id="team">
                <h2>Notre Équipe</h2>
                
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/max.jpg') }}" alt="Photo de Maxime Falkowski">
                    <h3>Maxime Falkowski</h3>
                    <p>Étudiant en maîtrise en informatique, spécialisé en cybersécurité. Passionné par la sécurité des systèmes d'information.</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/yann.jpg') }}" alt="Photo de Yann">
                    <h3>Yann Dupont</h3>
                    <p>Étudiant en maîtrise en informatique, avec une passion pour l'analyse des menaces et la protection des données.</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/loic.jpg') }}" alt="Photo de Loic">
                    <h3>Yann Dupont</h3>
                    <p>Étudiant en maîtrise en informatique, avec une passion pour l'analyse des menaces et la protection des données.</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/sandy.jpg') }}" alt="Photo de Sandy">
                    <h3>Yann Dupont</h3>
                    <p>Étudiant en maîtrise en informatique, avec une passion pour l'analyse des menaces et la protection des données.</p>
                </div>
                <!-- Ajoutez les autres membres de l'équipe ici -->
            </section>
            <h2 id="title-entreprise">Notre Projet : Verifile</h2>
            <section class="text-about-us">
                <img src="{{ url_for('static', filename='img/programmeur.gif') }}" alt="">
                <div class="about-us">
                    <p>Le projet Verifile est né de notre passion commune pour la cybersécurité et de notre désir de créer un outil capable de détecter et de prévenir efficacement les menaces en ligne. Développé dans le cadre de notre atelier de validation en cybersécurité à l'UQAC, Verifile est le fruit de deux mois de travail acharné.</p>
                    <p>Verifile utilise des technologies de pointe pour offrir une détection rapide et efficace des contenus malveillants. Notre outil permet aux utilisateurs de vérifier la sécurité des URLs et des fichiers avant de les ouvrir, grâce à des techniques avancées d'analyse et de détection.</p>
                    <p>Conçu pour être simple d'utilisation tout en offrant des fonctionnalités puissantes</p>
                </div>
            </section>
            <h2 id="title-entreprise">Nos Objectifs</h2>
            <section id="objectifs">
                <ul class="tab">
                    <li><strong>Analyse des URLs </strong><i class="fa fa-arrow-right"></i> Permettre aux utilisateurs de soumettre des URLs afin de les vérifier pour assurer leur  sécurité. </li>
                    <li><strong>Vérification des fichiers </strong><i class="fa fa-arrow-right"></i> Télécharger des fichiers pour les analyser afin de détecter et identifier les logiciels malveillants et les menaces potentielles.</li>
                    <li><strong>Lutter contre le Phishing </strong><i class="fa fa-arrow-right"></i>Verifile analyse les URLs pour détecter les sites malveillants, les tentatives de phishing et d'autres menaces potentielles.</li>
                    <li><strong>Interface intuitive </strong><i class="fa fa-arrow-right"></i> L'interface utilisateur de Verifile est conçue pour être intuitive et facile à naviguer afin que les utilisateur l'utilisent efficacement.</li>
                </ul>
            </section>
            <img class="logo-entreprise" src="{{ url_for('static', filename='img/logo-entreprise.png') }}" alt="Logo">
    </div>
    
    <footer>
        <div class="footer-links">
            <a href="#">Conditions d'utilisation</a> | 
            <a href="#">Conditions générales</a> | 
            <a href="{{ url_for('cookies') }}">Politique des cookies</a>
        </div>
        <div class="footer-copyright">
            <p>Copyright © 2024 VeriFile. Tous droits réservés.</p>
        </div>
    </footer>
    
    <div class="chatbot-icon" onclick="toggleChatbot()">
        💬
    </div>
    <div class="chatbot-container" id="chatbotContainer">
        <div class="chatbot-header">
            <h2>VeriFile</h2>
            <button class="close-btn" onclick="toggleChatbot()">×</button>
        </div>
        <div class="chatbot-messages" id="chatbotMessages">
            <!-- Messages will appear here -->
        </div>
        <div class="chatbot-input">
            <input type="text" id="userInput" placeholder="Tapez votre message...">
            <button onclick="sendMessage()">Envoyer</button>
        </div>
    </div>
  
      <script src="{{ url_for('static', filename='script.js') }}"></script>
      <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
</body>
</html>
