<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Compte VeriFile</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/connexion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/annimations.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
</head>
<body>
    <div class="inscription">
        <div class="page-connexion">
                <h1>Créer un compte</h1>
                    <form class="register" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="entete-form">
                            <div>
                                {{ form.username(class="form-control", size=32, placeholder="Nom d'utilisateur") }}
                                {% for error in form.username.errors %}
                                    <span class="text-danger">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div>
                                {{ form.email(class="form-control", size=64, placeholder="Email") }}
                                {% for error in form.email.errors %}
                                    <span class="text-danger">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            {{ form.entreprise(class="form-control", size=32, placeholder="Entreprise") }}
                            {% for error in form.entreprise.errors %}
                                <span class="text-danger">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.password(class="form-control", size=32, placeholder="Mot de passe") }}
                            {% for error in form.password.errors %}
                                <span class="text-danger">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.confirm_password(class="form-control", size=32, placeholder="Confirmez votre mot de passe") }}
                            {% for error in form.confirm_password.errors %}
                                <span class="text-danger">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                    <p>Déjà inscrit ? <a href="{{ url_for('connexion') }}">Connectez-vous</a></p>
                    <footer>
                        <div class="footer-links-index"> 
                            <a href="#">Conditions d'utilisation</a> | 
                            <a href="#">Conditions générales</a> |
                            <a href="{{ url_for('cookies') }}">Politique des cookies</a>
                        </div>
                        <div class="footer-copyright">
                            <p>Copyright © 2024 VeriFile. Tous droits réservés.</p>
                        </div>
                        </footer>

    </div>
    <div class="images">

    </div>
</div>

</body>
</html>
